body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 350px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;

}

button {
    border: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: background-color 0.3s ease-in;
}



button:hover {
    opacity: 0.8;
}

span {
    font-size:20px;

}

button:not(.non-circle-bottom):not(.non-circle-top) {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    align-self: center;
    justify-self: center;
}

#main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculator-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 155px 1fr 40px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "display display display display"
    "display display display display"
    "clear clear backspace backspace"
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "zero zero . .";
    row-gap: 7px;
    height: 550px;
    width: 350px;
    background-color: black;
    border-radius: 25px;
    padding: 5px 10px 30px 10px;
}

#display-container {
    grid-area: display;
    overflow: hidden;
    border: solid 1px;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #504f4f;
    border-radius: 12px;
    width: 85%;
    height: 90%;
    padding: 0px 10px;
    align-self: flex-end;
    justify-self: center;
    color: white;
    font-size: 40px;
}

#display-container, #reminder-message {
    border: none;
    font-weight: 600;
}

#reminder-message {
    visibility: hidden;
    color: red;
    font-size: 20px;
}

.non-circle-top {
    height: 30px;
    border-radius: 25px;
    width: 84%;
    justify-self: center;
    align-self: center;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: normal;
    color: black;
    padding: 0;
}

#squared {
    padding-left: 8px;
}

#percent {
    font-size: 23px;

}

#switch-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.lightgray {
    background-color: #9c9c9c;
}

.orange {
    background-color: orange;
}

.darkgray {
    background-color: #424242;
}

.active {
    background-color: purple;
}

.non-circle-bottom {
    border-radius: 50px;
    width: 88%;
    height: 100%;
    justify-self: center;
    align-self: center;
}

#clear {grid-area: clear}
#backspace {grid-area: backspace}

#_0 {
    grid-area: zero; 
    text-align: left;
    padding-left: 25px;
}

.no-transition {
    transition: none;
}
