body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

button {
    border: none;
    height: 70px;
}

button:not(.non-circle-bottom):not(.non-circle-top) {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    align-self: center;
    justify-self: center;
}

#calculator-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 40px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "display display display display"
    "display display display display"
    "clear clear backspace backspace"
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "zero zero . .";
    row-gap: 7px;
    height: 550px;
    width: 350px;
    background-color: black;
    border-radius: 25px;
    padding: 5px 10px 20px 10px;
}

#display-container {
    grid-area: display;
    overflow: hidden;
    border: solid 1px;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: dimgrey;
    border-radius: 12px;
    width: 85%;
    height: 90%;
    padding: 0px 10px;
    align-self: flex-end;
    justify-self: center;
}

#reminder-message {
    visibility: hidden;
    color: red;
}

.non-circle-top {
    height: 30px;
    border-radius: 30px;
    width: 84%;
    justify-self: center;
    align-self: center;
}

.non-circle-bottom {
    border-radius: 50px;
    width: 88%;
    height: 100%;
    justify-self: center;
    align-self: center;
}

#clear {grid-area: clear}
#backspace {grid-area: backspace}
#zero {grid-area: zero; text-align: left;}


