body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

#calculator-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "display display display display";
    height: 500px;
    width: 300px;
}

#display-container {
    grid-area: display;
    border: solid 1px;
    text-align: end;
}

#reminder-message {
    visibility: hidden;
    color: red;
}
